@import "tailwindcss";

@theme {
  --color-primary: #d2961e;
  --color-primary-dark: #b5893d;
  --color-primary-light: #fff8e1;
  --color-primary-hover: #9d7633;
}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:wght@100..900&display=swap');

html:lang(ar) {
  font-family: "Cairo", sans-serif;
}

html:lang(en),
html:lang(fr) {
  font-family: "Inter", sans-serif;
}

body {
  font-family: inherit;
}

